{
    # Matikan auto HTTPS secara global
    auto_https off
}

# Jalankan server di port 80 untuk semua request
:80 {
    # Aktifkan fitur FrankenPHP
    frankenphp
    
    # Set root direktori aplikasi
    root * /app
    
    # Jalankan file PHP lewat index.php jika file tidak ditemukan
    file_server
}